
/WPF/INF.04-01-23.06-SG - Czerwiec 2023/desktop/bin
/WPF/INF.04-01-23.06-SG - Czerwiec 2023/desktop/obj
/React/EGZAMIN ZAWODOWY — INF.04 (wersja autorska)(GPT)/webowa/node_modules/.bin
/React/EGZAMIN ZAWODOWY — INF.04 (wersja autorska)(GPT)/webowa/node_modules/.cache
/React/EGZAMIN ZAWODOWY — INF.04 (wersja autorska)(GPT)/webowa/node_modules
/React/kat_zdj_w_gal/build
/React/kat_zdj_w_gal/node_modules
/WPF/ZadanieGemini/.vs/ZadanieGemini/CopilotIndices
/WPF/ZadanieGemini/obj/Debug
/WPF/ZadanieGemini/obj
/WPF/ZadanieGemini/bin
