WPF/INF.04-01-23.06-SG - Czerwiec 2023/desktop/bin/Debug/net8.0-windows/desktop.exe
/WPF/INF.04-01-23.06-SG - Czerwiec 2023/desktop/bin
/WPF/INF.04-01-23.06-SG - Czerwiec 2023/desktop/obj
/Mobilki/Arkusz praktyczny INF.04-01-21.06-SG/mobilna/.idea
/React/EGZAMIN ZAWODOWY — INF.04 (wersja autorska)(GPT)/webowa/node_modules/.bin
/React/EGZAMIN ZAWODOWY — INF.04 (wersja autorska)(GPT)/webowa/node_modules
